snippet it
	it("${1:description}", function() {
		${2}
	});

snippet desc
	describe("${1:description}", function() {
		${2}
	});

snippet be
	beforeEach(function() {
		${1}
	});

snippet ae
	afterEach(function() {
		${1}
	});

snippet def
	define([
		'${1:module}'
	], function(${2:argument}) {
		${3}
	});
	
